
 .scroll {
   scroll-behavior: smooth;
 }

 .aboutImg {
   width: 350px;
   height: 350px;
   border-radius: 50%;
    /*top: 0; bottom:0; left: 0; right:0;
    margin: auto;*/
 }

 .aboutContent {
   text-align: center;
 }
