
.header {
  text-align: center;
  font-family: thin;
  font-size: 100px;
  font-family: monospace;
  margin-bottom: 0;
  color: #002a6c;
}

 .scroll {
   scroll-behavior: smooth;
 }

 .aboutImg {
   width: 350px;
   height: 350px;
   border-radius: 50%;
   margin-bottom: 35px;
 }

 .aboutContent {
   text-align: center;
 }

 .parallax-container {
   height: 1000px;
 }

 .name {
   text-align: center;
  position: sticky;
  z-index: 1000;
  margin-top: 300px;
}


 .projectsContent {
   background-image: url("../assets/images/projects.jpg");
   height: 800px;
   background-repeat: no-repeat;
   background-size: cover;
   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
 }
